# Secrets
run_esalen_notifier.bat
.env

# Data
# data.json (Tracked for GitHub Pages)

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
